import React from 'react';
import PropTypes from 'prop-types';
import withStyles from 'isomorphic-style-loader/lib/withStyles';
import s from './<%= componentName %>.css';


const <%= componentName %> = () => (
  <div className={s.root}>Not Implemented</div>
);

<%= componentName %>.propTypes = {}

<%= componentName %>.defaultProps = {}

export default withStyles(s)(<%= componentName %>);
