import React from 'react';
import <%= routeName %> from './<%= routeName %>';
import Layout from '../../components/Layout';

const <%= routeName %>Action = async function (context) {
  return {
    title: '',
    component: <Layout><Hotel {...context} /></Layout>,
  };
};

export default [{
  //simple route
  path: '/',
  action: <%= routeName %>Action,
}, {
  //async route
  path: '/',
  async action(context) {
    return <%= routeName %>Action({
      ...context,
      params: {
      },
    });
  },
}];
