import React, { PropTypes } from 'react';
import { connect } from 'react-redux';
import withStyles from 'isomorphic-style-loader/lib/withStyles';
import { bindActionCreators } from 'redux';
import * as actionCreators from '../../actions/home';
import s from './style.scss';


class <%= routeName %> extends React.Component {
  constructor(props, context) {
    super(props, context);

    this.state = {
    };
  }

  render() {
    const { selectedCity } = this.state;
    const { featureFlight, domesticCustomHotelPrice } = this.props;
    const cityName = selectedCity.cityName || '';
    const cityCode = selectedCity.cityCode || '';

    return (
      <div className="<%= routeName %>">
      </div>
    );
  }
}

Hotel.propTypes = {
  featureFlight: PropTypes.array.isRequired,
  domesticCustomHotelPrice: PropTypes.object.isRequired,
};

const mapStateToProps = state => ({
  featureFlight: state.minPrice.featureFlight,
  domesticCustomHotelPrice: state.minPrice.domesticCustomHotelPrice,
  showCampaignModal: state.layout.showCampaignModal,
});

const mapDispatchToProps = dispatch => ({
  actions: bindActionCreators(actionCreators, dispatch),
  dispatch,
});

export default connect(mapStateToProps, mapDispatchToProps)(withStyles(s)(Hotel));
