import React from 'react';
import PropTypes from 'prop-types';
import withStyles from 'isomorphic-style-loader/lib/withStyles';
import s from './<%= componentName %>.scss';

class <%= componentName %> extends React.Component {
  static propTypes = {};

  constructor(props, context) {
    super(props, context);
    this.state = {};
  }

  render() {
    const {} = this.props;
    return (
      <div className="<%= dashedName %>" >
        <p>Not Implemented</p>
      </div>
    );
  }
}

export default withStyles(s)(<%= componentName %>);
