import React from 'react';
import PropTypes from 'prop-types';
import withStyles from 'isomorphic-style-loader/lib/withStyles';
import s from './<%= componentName %>.css';

class <%= componentName %> extends React.Component {
  static propTypes = {};

  constructor(props, context) {
    super(props, context);
    this.state = {};
  }

  render() {
    const {} = this.props;
    return (
    <% if (componentName.toLowerCase() === dashedName) { %>
      <div className={s.<%=dashedName%>} >
    <% } else { %>
      <div className={s['<%=dashedName%>']} >
    <% } %>
        <p>Not Implemented</p>
      </div>
    );
  }
}

export default withStyles(s)(<%= componentName %>);
